* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.container {
  background-color: rgb(222, 219, 219);
  height: 100vh;
  text-align: center;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputBtnContainer {
  margin: 10px 0px;
  display: flex;
  gap: 1rem;
}
.heading {
  background-color: white;
  padding: 10px;
  border-radius: 7px;
}
button {
  background-color: lightseagreen;
  border: none;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 7px;
  transition: all linear 0.2s;
}
button:active {
  scale: 0.9;
}
#colorInput {
  padding: 0 10px;
  border-radius: 7px;
  border: none;
}
.currentClr {
  font-size: 17px;
  background-color: white;
  padding: 10px;
  border-radius: 7px;
}
